.container {
  width: 100%;
  height: 100%;
}

.container .branding {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .branding .parley {
  width: 50%;
  height: 50%;
}

.container .content {
  width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 1rem;
  overflow: hidden scroll;
  background-color: var(--secondary);
  position: relative;
}

.container .content .list {
  width: 100%;
  margin: 0;
  list-style-type: none;
}

.container .content .list .item {
  width: 100%;
  list-style-type: none;
  padding: 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0.2rem 0;
  color: var(--secondary-foreground);
  --cols: 24;
}

.container .content .list .item > span {
  --span: 24;
  display: block;
  flex-basis: calc((var(--span) / var(--cols)) * 100%);
}
.container .content .list .item > .time {
  text-align: right;
  padding: 0.25rem 0 0;
  color: var(--secondary-foreground-highlight);
}

.container .content .list .item > .author {
  padding: 0 0 0.5rem;
  color: var(--secondary-foreground-warm);
}
.container .content .list .item .text {
  padding: 1rem;
  box-shadow: 0px 0px 1px 0px var(--secondary-foreground) inset,
    0px 0px 1px 0px var(--secondary-foreground) inset;
  border-radius: 0.5rem;
  background-color: var(--accent);
  color: var(--accent-foreground);
}

.sTop,
.sBottom {
  opacity: 0;
  margin: 0;
  width: 100%;
  height: 1px;
}

.loader {
  width: 100%;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
}
.loader .loader-fragment {
  border-radius: 50%;
  width: 0.725rem;
  height: 0.715rem;
  margin: 0 0.125rem;
  background-color: var(--accent);
  animation: progress 1s infinite alternate;
}

@keyframes progress {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.loader-fragment:nth-child(2) {
  animation-delay: 0.5s;
}

.loader-fragment:nth-child(3) {
  animation-delay: 0.9s;
}
