@keyframes ripple {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(4);
    opacity: 0;
  }
}

@keyframes nav-drawer-slide-scale {
  from {
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
  }
  to {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
}

.ripple {
  animation: ripple 0.75s linear;
}
.draw-nav {
  opacity: 1;
  visibility: visible;
  animation: nav-drawer-slide-scale 1.25s ease-in-out;
}
.close-nav {
  opacity: 0;
  transform: scale(0);
  visibility: hidden;
  animation: nav-drawer-slide-scale 1.25s ease-in-out reverse;
}
